---
layout: base
title: Home
permalink: '/'
heading: Minimal Starter Kit for Bootstrap 5 using Eleventy
---

<div class="container-xxl">
    <div class="col-md-9 px-3 mx-auto">
        <div class="mt-20 mb-12">
            <h1 class="text-center display-3 ls-tight">DJ Single Handed</h1>
            <img src="img/dj-single-handed-homepage-hero.jpeg" class="img-fluid mt-12" alt="DJ Single Handed playing music at a fashion show at Athleta in Bryn Mawr, Pennsylvania." />
            <p class="text-lg mt-5">I'm a Philadelphia-based DJ coming out of retirement and returning to my passion for playing and mixing music.</p>
            <p class="text-lg mt-5">In my previous life, I played clubs all around the city and opened for several famous acts including DJ Kid Capri, DJ Cocoa Chanelle, DJ Touchtone, Poor Righteous Teachers, and Rob Base &amp; DJ EZ Rock.</p>            
            <p class="text-lg mt-5">I'm an open format DJ with a wide knowledge of genres and decades, and I specialize in hip-hop, R&amp;B, and Latin music (salsa, merengue, bachata, reggaeton, and dembow).</p>
            <p class="text-lg mt-5">In addition to <a href="https://www.mixcloud.com/djsinglehanded/">posting mixes to Mixcloud</a>, I also <a href="https://www.fitnessfindsonthemainline.com/ontheblog/the-power-of-she-was-in-full-effect-at-athleta">provided the soundtrack for a fashion show at Athleta in Bryn Mawr</a>.</p>
            <p class="text-lg mt-5">You can email me at <a href="mailto:andy@djsinglehanded.com">andy@djsinglehanded.com</a> to book me for your next event!</p>
        </div>
    </div>
</div>
